html, body {
    width: 100vw;
    height: 100vh;
    background: #2C3E50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C3E50 , #FD746C); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C3E50 , #FD746C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.item-1 {
    flex: 5;    
    order: 1;
    border: 1px rgb(148, 109, 109) hidden;
    border-radius: 5px;

}
.item-2 {
    flex: 2;    
    order: 2;
    border: 1px rgb(88, 72, 72) outset;
    border-radius: 5px;

}
.item-2 h1 {
    color: coral;
    text-align: center;
}
h1 {
    color: rgba(6, 7, 6, 0.397);
}